<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="layout(pageTitle, activeMenu, content)">
    <html lang="ko">
    <head>
        <th:block th:replace="~{fragments/head :: meta(${pageTitle})}"></th:block>
        <th:block th:replace="~{fragments/head :: styles}"></th:block>
        <th:block th:replace="~{fragments/header :: styles}"></th:block>
        <th:block th:replace="~{fragments/footer :: styles}"></th:block>
    </head>
    <body>
    <div class="site-wrapper">
        <header th:replace="~{fragments/header :: header(${activeMenu})}"></header>
        <main class="site-main">
            <th:block th:replace="${content}"></th:block>
        </main>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
    <th:block th:replace="~{fragments/head :: scripts}"></th:block>
    <th:block th:replace="~{fragments/header :: scripts}"></th:block>
    <th:block th:replace="~{fragments/footer :: scripts}"></th:block>
    </body>
    </html>
</th:block>
</body>
</html>
